# Версия docker-compose
version: '3'
# Список наших сервисов (контейнеров)
services:
    app-nginx:
        ports:
            - "80:80"
#            - "443:443"

    app-php:
        ports:
            - "9502:9502"
            - "9501:9501"
    app-redis:
        ports:
            - "6379:6379"

    app-db:
        ports:
            - "5437:5432"
    app-rabbitmq:
        ports:
            - 5672:5672
            - 15672:15672